body {
	min-height: 95vh;
	min-width: 80vh;
	background: linear-gradient(180deg,#DB302A 0%,#62186B 100%) no-repeat;
	/*display: grid;*/
	font-family: 'Ubuntu', sans-serif;
}

/* ----------------------------------------------------*/
/* host: content labels */
.infolabel{
    color: #FFFFFF;
}
.eqlabel{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

/* ----------------------------------------------------*/
/* slider button group grid */

.slider-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 1px;
  padding-top: 5px
}
.slider-grid-item {
  padding: 5px;
}