.grid-container {
	display: grid;
	width: 0px;
	grid-template-columns: auto auto auto;
	padding: 1px;
  }
  .grid-item {
	padding: 5px;
  }
	  
  .round-slider {
	display: grid;
		position: relative;
		width: 45px;
		height: 45px;
		justify-self: center;
		align-self: center;
		border-radius: 50%;
		cursor: pointer;
	}
	  
	.round-slider .selection {
		width: 43px;
		height: 43px;
		border-radius: 50%;
		background: #00ccf8;
		box-shadow: 0px 0px 3px 0px  #00ccf8;
		grid-row: 1;
		grid-column: 1;
		justify-self: center;
		align-self: center;
		pointer-events: none;
		/* clip-path: polygon(value% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%); */
	}
	.round-slider .selection:after {
		display: block;
		content: "";
		width: 3px;
		height: calc(5% - 2px);
		background-color: rgba(255, 0, 0, 0);
		position: absolute;
		left: calc(5% - 1px);
		transform-origin: 1px 10%;
		transform: rotate(0deg);
	}
	  
	.round-slider .holder {
		width: 37px;
		height: 37px;
		background: rgba(255, 255, 255, 1);
		border-radius: 50%;
		grid-row: 1;
		grid-column: 1;
		justify-self: center;
		align-self: center;
		pointer-events: none;
		z-index: 2;
		text-align: center;
		line-height: 40px;
		font-size: 2em;
		box-shadow: 0px 0px 4px 2px #00ccf8;
	}
	  
	  .round-slider .slidertext{
	  font-size: 10px;
	  }
	
	  .round-slider .slidertext::selection{
		background: rgba(255, 255, 255, 1);
	  }